@tailwind base;
@tailwind components;
@tailwind utilities;


.flex{
    border: 2px  ;
    display: flex;
    align-items: center;
   padding: 10px;
   column-gap: 10px;
  
}
.dynamic{
    border: px outset black;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 5px;
    box-shadow: 2px 2px 5px 5px;
    background: skyblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.w-full {
    background-color: whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}